/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #B9D1E2;
  --vt-c-white-soft: #b9d1e2bd;
  --vt-c-white-mute: #B9D1E2;

  --vt-c-black: #070D06;
  --vt-c-black-soft: #2d3133;
  --vt-c-black-mute: #070D06;

  --pt-c-dark-blue: #053B41;
  --pt-c-primary-color: #0396A6;

  --pt-c-complementary-1: #DB8B16;
  --pt-c-complementary-2: #A62303;
  

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--pt-c-dark-blue);
  --vt-c-text-light-2: var(--vt-c-white);
  --vt-c-text-dark-1: var(--vt-c-white-soft);
  --vt-c-text-dark-2: var(--vt-c-black);

  --pt-c-text-vue-light: #35495e;
  --pt-c-text-vue-dark: #42b883;


  --media-size: 700px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-emph-vue: var(--pt-c-text-vue-light);

  --color-text-nav: var(--vt-c-text-light-2);
  --color-navbar: var(--pt-c-dark-blue);

  --color-section-about: var(--pt-c-complementary-1);
  --color-section-exp: var(--pt-c-complementary-2);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-1);
    --color-text-emph-vue: var(--pt-c-text-vue-dark);

    --color-text-nav: var(--vt-c-text-dark-2);
    --color-navbar: var(--pt-c-primary-color);

    --color-section-about: transparent;
    --color-section-exp: transparent;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family: Gilroy-Light;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
  color: var(--color-text);
}

@font-face {
  font-family: Gilroy;
  src: url('@/assets/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: Gilroy-Light;
  src: url('@/assets/fonts/Gilroy-Light.otf');
}