@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

@media (max-width: 700px) {
  #app{
    grid-template-columns: 1fr;
  }
}