@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10fr;
}

@media (max-width: var(--media-size)) {
  #app{
    grid-template-columns: 1fr;
  }
}